.container{
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-areas: "header header header"
                          "aside  main   main "   
                          "footer footer footer";
}
header{
    background-color: aquamarine;
    color: white;
    grid-area: header;
}
main{
    grid-area: main;
    background-color: brown;
    color: white;
}
aside{
    grid-area: aside;
    background-color: chartreuse;
    color: black;
}
footer{
    grid-area: footer;
    background-color:blue;
    color: white;
}
